@model IEnumerable<Product>

@{
    ViewData["Title"] = "فروشگاه من";
}

<div class="text-center">
    <h1 class="display-3 text-primary">به فروشگاه ما خوش آمدید</h1>
    <p class="lead">محصولات ما را مشاهده کنید و بهترین‌ها را انتخاب کنید.</p>

    <div class="row g-4 mt-4">
        @foreach (var item in Model)
        {
            <partial name="_BoxProduct" model="@item"></partial>
        }
    </div>
</div>



 


