@model IEnumerable<Product>

@{
    ViewData["Title"] = "فروشگاه من";
}

<div class="text-center">
    <h1 class="display-3">به فروشگاه ما خوش آمدید</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <div class="row">
        @foreach (var Item in Model)
        {
           <partial name="_BoxProduct" model="@Item"> </partial>
        }
    </div>
   
</div>
