@page
@model Loushop.Pages.Admin.ManageUser.EditModel

@{
    ViewData["Title"] = "ویرایش کاربر";
}

<div class="container-fluid mt-5">
    <h1 class="text-center text-primary mb-4">ویرایش کاربر</h1>
    <hr />
    <form method="post" class="p-4 bg-light rounded shadow-sm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Users.UserId" />

        <!-- ستون اول -->
        <div class="row">
            <div class="col-md-6">
                <!-- ایمیل کاربر -->
                <div class="form-group">
                    <label asp-for="Users.Email" class="font-weight-bold">ایمیل:</label>
                    <input asp-for="Users.Email" class="form-control border-primary" />
                    <span asp-validation-for="Users.Email" class="text-danger"></span>
                </div>

                <!-- رمز عبور کاربر -->
                <div class="form-group">
                    <label asp-for="Users.Password" class="font-weight-bold">رمز عبور:</label>
                    <input asp-for="Users.Password" class="form-control border-primary" />
                    <span asp-validation-for="Users.Password" class="text-danger"></span>
                </div>
            </div>

            <!-- ستون دوم -->
            <div class="col-md-6">
                <!-- تاریخ ثبت‌نام -->
                <div class="form-group">
                    <label asp-for="Users.RegisterDate" class="font-weight-bold">تاریخ ثبت‌نام:</label>
                    <input asp-for="Users.RegisterDate" class="form-control border-primary" />
                    <span asp-validation-for="Users.RegisterDate" class="text-danger"></span>
                </div>

                <!-- ادمین بودن -->
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Users.IsAdmin" />
                        @Html.DisplayNameFor(model => model.Users.IsAdmin)
                    </label>
                </div>
            </div>
        </div>

        <!-- دکمه ارسال -->
        <div class="text-center mt-4">
            <input type="submit" value="ثبت تغییرات" class="btn btn-success btn-lg" />
        </div>
    </form>
</div>

<div class="text-center mt-3">
    <a asp-page="./Index" class="btn btn-secondary">بازگشت به لیست</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
