@model Product

<div class="col-md-4 col-sm-6">
    <div class="card shadow-sm h-100">
        <img src="/images/@(Model.Id).jpg" class="card-img-top img-fluid rounded-top" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title text-center text-dark">@Model.Name</h5>
            <a asp-action="Detail"
               asp-controller="Home"
               asp-route-id="@Model.Id"
               class="btn btn-primary d-block mt-3">جزئیات محصول</a>
        </div>
    </div>
</div>


