<form asp-controller="Home" asp-action="Search" method="get" class="d-flex">
    <input type="text" name="query" class="form-control me-2" placeholder="عبارت مورد نظر را وارد کنید" aria-label="Search">
    <button type="submit" class="btn btn-outline-primary">جستجو</button>
</form>
